@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: aliceblue;
  text-align: center;
  color: orange;
  margin: auto;
  font-family: water;
}

h1{
  font-size: 40px;
  
}

h2{
  color:blue;
}

h3{
  font-family: fantasy;
  color:black;
}

#myCanvas {
  background-image: url("https://media.istockphoto.com/id/1030344328/vector/under-sea-view.jpg?s=612x612&w=0&k=20&c=FhJFfdm7BJhejq_1TGQYscAlnWBdwhN-8qsX0KnFwN4=");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid blue;
}



